body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

#tries {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 0 auto;
}

.game-board img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s;
}

.game-board img:hover {
    transform: scale(1.1);
}
